body {
    background-size: cover;
    background-image: url('../assets/images/body-bg.jpg');

    margin: 0 auto;
}

.box1 {
    background-color: #e6e6e6;
    border: rgb(29, 121, 225) solid 5px;
    margin-bottom: 3rem;
    height: fit-content;
    color: black;
    font-family: cursive;
    font-size: larger;
    text-align: center;
}

.tableau {
    margin-left: 2rem;
    margin-right: 2rem;
}

.box2 {
    background-color: #e6e6e6;
    border: rgb(29, 121, 225) solid 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 8rem;
    margin-right: 8rem
}

h2 {
    text-align: center;

}

h1 {
    text-decoration: underline;
    color: brown;
    text-decoration-style: double;
}

.navigation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e6e6e6;
    border: rgb(29, 121, 225) solid 5px;
    margin: 5px;
    padding: 5px;
    left: 5px;
    text-align: center;
    margin-bottom: 10px;
}

a {
    color: rgb(1, 63, 9);
}

.alternateA {
    color: brown;
}

.alternateA1 {
    color: greenyellow;
}

.copyright {
    color: gainsboro;
    text-align: center;
    margin-top: 50px;
    font-style: italic;
}

.topreturn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;

}